includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 8
  paths:
    - app
    - routes
    - database
  ignoreErrors:
    - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
  excludePaths:
    - tests
    - bootstrap
    - storage
    - vendor
  inferPrivatePropertyTypeFromConstructor: true
  noUnnecessaryCollectionCall: true
